<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <%- include('navbar') %>
    <ul>
    <h5>Homepage</h5>
        <li>
            <a href="/search">Search trains b/w stations</a>
        </li>
        <li>
            <a href="/list">List of all stops of a train</a>
        </li>
        <li>
            <a href="/user/history">User booking history</a>
        </li>
        <li>
            <a href="/book">Book Ticket</a>
        </li>
        <li>
            <a href="/arrivals">Station Arrivals</a>
        </li>
        <li>
            <a href="/revenue">Revenue of train in a time-frame</a>
        </li>
        <li>
            <a href="/status">Check Train Status</a>
        </li>
    </ul>
</body>
</html>
