<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<%- include('navbar') %>
<div class="container">
<h2>Train Ticket Reservation</h2>
<p> <a href="/login">Login</a> or <a href="/register">Register</a> to continue</p>
</div>

</body>
</html>
