<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <%- include('navbar') %>
    <div class="container">
    <h3>Train Status</h3>
    <hr>
    
    <form action="/train/status" method="POST">
        <label>Train Number</label>
        <select id="train_no" name="train_no">
            <option value="98719">98719</option>
            <option value="11111">11111</option>
            <option value="16701">16701</option>
            <option value="33212">33212</option>
            <option value="98429">98429</option>
            <option value="20120">20120</option>
            <option value="12341">12341</option>
        </select>
        <br>
        <br>
        
        <input type="submit" value="Get Status">
    </form>
    <br>
    
        <% if (status) { %>
        <div class="alert alert-success">
            <h3>Train Status: <%= status %></h3>
            <h3>Last Station: <%= station %></h3>
        </div>
        <% } %>
    </div>
</body>
</html>
